/* we can use a single css file to style all the files in our website */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #443850;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: Helvetica;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 15%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px;
  border: solid 1px #C0C5C1;
  background-color: #BBBE64;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 50px;
  margin-bottom: 20px;
  border: solid 1px #C0C5C1;
  background-color: #EAF0CE;
}

#links {
  border: solid 1px #C0C5C1;
  padding: 10px;
  background-color: #EAF0CE;
}



/*

my edits

*/

.dropdown-lab {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color:#EAF0CE;
  color:#443850;
  padding: 10%;
  font-size: 20px;
  border: none;
}

.dropdown-lab-content {
  display: none;
  position: absolute;
  background-color: #EAF0CE;
  padding: 10%;
  font-size: 18px;
  text-decoration: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 60px;
}

/*
I'm gonna be FR and say I ripped some/most of this stuff off of w3 schools, but I do understand the concept.
*/

/* Change color of dropdown links on hover */
.dropdown-lab-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-lab:hover .dropdown-lab-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-lab:hover .dropdown-button {background-color: #3e8e41;}