/* we can use a single css file to style all the files in our website */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #443850;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: Helvetica;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 15%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px;
  border: solid 1px #C0C5C1;
  background-color: #BBBE64;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 50px;
  margin-bottom: 20px;
  border: solid 1px #C0C5C1;
  background-color: #EAF0CE;
}

#links {
  border: solid 1px #C0C5C1;
  padding: 10px;
  background-color: #EAF0CE;
}

/* my edits */